OPENROUTER_API_KEY=
TEACHER_LLM_MODEL=deepseek/deepseek-r1
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

QWEN_API_KEY=
QWEN_MODEL=qwen3-coder-plus
QWEN_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1
